.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    border-bottom: 1px solid #00000013;
}

.header-top {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #eee;
    background-color: #1E293B;
}

.header-top .container {
    display: flex;
    justify-content: flex-end;
}

.header-top__buttons {
    display: flex;
    gap: 15px;
}

.header-top__button {
    padding: 8px 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    transition: all 0.2s;
}

.header-top__button--login {
    color: #f0f8ff;
    background: #1E293B;
}

.header-top__button--login:hover {
    color: #007bff;
}

.header-top__button--login:hover svg {
    filter: brightness(1.2);
    transform: scale(1.05);
    fill: #007bff;
}

.header-top__button--new-ad {
    background-color: #007bff;
    color: white;
}

.header-top__button--new-ad:hover {
    background-color: #0069d9;
}

.header-bottom {
    display: flex;
    align-items: center;
    padding: 15px 0;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.header-bottom .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.header-bottom__title {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
}

.header-bottom__categories {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f9fa;
}

.header-bottom__categories::after {
    font-size: 10px;
    margin-left: 8px;
}

.header-bottom__categories:hover {
    background-color: #007bff;
    color: #fff
}

.header-bottom__search {
    display: flex;
    flex-grow: 1;
    max-width: 750px;
    min-width: 200px;
}

.header-bottom__search-input {
    flex-grow: 1;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.header-bottom__search-input:focus {
    border-color: #007bff;
}

.header-bottom__search-button {
    padding: 10px 15px;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border-radius: 0 4px 4px 0;
}

.header-bottom__search-button:hover {
    background-color: #0069d9;
}

@media (max-width: 900px) {
    .header-bottom .container {
        flex-direction: column;
        align-items: stretch;
    }
    
    .header-bottom__title {
        margin-right: 0;
        text-align: center;
    }
    
    .header-bottom__categories {
        order: 1;
    }
    
    .header-bottom__search {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .header-top .container {
        justify-content: center;
    }
    
    .header-top__buttons {
        width: 100%;
        justify-content: center;
    }
}